
*{
    margin: 0;
    padding: 0;
}
.contadores {
 display: flex;
 background-color: black;
 margin: 0;
}
.botaozerar{
    padding: 25px;
    background-color: black;
    margin: 0;
}
.botaozerar button{
    display: block;
    font-size: 3em;
    margin: 0 auto;
}
.contadorAzul {
    width: auto;
    margin: 0 5px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 50px;
}
.contadorAzul span {
    display: block;
    font-size: 3em;
}
.contadorAzul button {
    padding: 20px;
    font-size: 2em;
}
.vantagensAzul {
    display: flex;
    width: auto;
    margin: 0 5px;
    text-align: center;
    background-color: blue;
}
.vantagemAzul {
    width: 50%;
    margin: 0;
    background-color: blue;
    color: white;
    padding: 50px;
}
.vantagemAzul span {
    display: block;
    font-size: 2em;
}
.vantagemAzul button {
    padding: 10px;
    font-size: 2em;
}
.desvantagemAzul {
    width: 50%;
    margin: 0;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 50px;
}
.desvantagemAzul span {
    display: block;
    font-size: 2em;
}
.desvantagemAzul button {
    padding: 10px;
    font-size: 2em;
}

.vantagensVermelho {
    display: flex;
    width: auto;
    margin: 0 5px;
    text-align: center;
    background-color: red;
}

.contadorVermelho {
    width: auto;
    margin: 0 5px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 50px;
}
.contadorVermelho span {
    display: block;
    font-size: 3em;
}
.contadorVermelho button {
    padding: 20px;
    font-size: 2em;
}
.vantagemVermelho {
    width: 50%;
    margin: 0;
    background-color: red;
    color: white;
    padding: 50px;
}
.vantagemVermelho span {
    display: block;
    font-size: 2em;
}
.vantagemVermelho button {
    padding: 10px;
    font-size: 2em;
}
.desvantagemVermelho {
    width: 50%;
    margin: 0;
    background-color: red;
    color: white;
    text-align: center;
    padding: 50px;
}
.desvantagemVermelho span {
    display: block;
    font-size: 2em;
}
.desvantagemVermelho button {
    padding: 10px;
    font-size: 2em;
}

.botoesVermelho{
    width: auto;
    display: flex;
    margin: 0 5px;
    background-color: red;
    
}
.botoesVermelho button{
    width: auto;
    margin: 5px 5px;
}

.botoesAzul{
    width: auto;
    display: flex;
    margin: 0 5px;
    background-color: blue;
}
.botoesAzul button{
    width: auto;
    margin: 5px 5px;
}