* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contadores {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
    padding: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  .contadores > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  @media (min-width: 601px) {
    .contadores {
      flex-direction: row;
    }
  
    .contadores > div {
      width: 50%;
      margin-bottom: 0;
    }
  
    .contadores > .azul {
      margin-right: 20px;
    }
    .botoesAzul, 
    .botoesVermelho > div{
        height: 10px;
        margin-bottom: 0;
    }
  }
  .contadorAzul {
    margin: 0 5px;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 50px;
}
.contadorAzul span {
    display: block;
    font-size: 3em;
}
.vantagensAzul{
    display: flex;
    padding: 50px;
    text-align: center;
    margin: 0 5px;
    background-color: blue;
}
.vantagensAzul span{
    display: block;
    font-size: 3em;
}
.vantagemAzul{
    width: 50%;
}
.desvantagemAzul{
    width: 50%;
}
.botoesAzul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.botoesVermelho{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vantagensVermelho{
    display: flex;
    padding: 50px;
    text-align: center;
    margin: 0 5px;
    background-color: red;
}
.vantagensVermelho span{
    display: block;
    font-size: 3em;
}
.vantagemVermelho{

    width: 50%;
}
.desvantagemVermelho{
    width: 50%;
}
.contadorVermelho {
    margin: 0 5px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 50px;
}
.contadorVermelho span {
    display: block;
    font-size: 3em;
}

  h1 {
    color: white;
    margin-bottom: 10px;
  }
  h3 {
    color: white;
  }
  
  span {
    font-size: 2rem;
    color: #ffc107;
    margin-bottom: 10px;
  }
  button {
    padding: 10px;
    margin: 0 5px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #ffc107;
    color: white;
  }
  